<% if !category.sub_directories.empty? %>
  <section class="panel panel-default">
    <section class="panel-heading">
      <h4 class="text-center"> 
        <%= category.name.capitalize %> Sub Categories 
      </h4>
    </section>

    <ul class="list-group">
      <% category.sub_directories.each do |subdir| %>
        <li class="list-group-item">
          <h4>
            <a href=<%= "#{category.id}/#{subdir.id}" %>>
              <%= subdir.title %>
            </a>
          </h4>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<section class="panel panel-default">
  <section class="panel-heading">
    <h4 class="text-center"> <%= category.title %> </h4>
  </section>

  <ul class="list-group">
    <% category.posts.each do |post| %>
      <li class="list-group-item">
        <h4>
          <a href=<%= post.url %>>
            <%= post.name %>
          </a>
        </h4>
      </li>
    <% end %>
  </ul>
</section>
